/* Zero default margin & padding around common elements */
body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, li, ol, p, ul
{
	margin: 0;
	border: 0 none #FFFFFF;
	padding: 0;
}

body
{
	padding: 20px;
	font-size: 90%;
	font-family: "Baskerville", sans-serif;
}

h1
{
	font-size: 225%;
	font-family: "Univers Light Condensed", sans-serif;
}

.dataTable
{
	margin-top: 0.5em;
	border: 1px solid #DDDDDD;
  border-collapse: collapse;
}

tr.alt
{
	background-color: #EEEEEE;
}

th
{
  border: 1px solid #385708;
	border-bottom: 4px solid #2A4106;
	padding: 8px 15px;
	background-color: #385708;
	background-image: url(table_header.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-align: left;
}

td
{
	padding: 6px 15px;
}

.number, .yesno
{
	text-align: center;
}