/* Basic styles */

body {
  background-color: #2E2E33;
  color: #FFF;
  font: small Verdana, Arial, sans-serif;
  padding: 0 10em;
}

a:link {
  color: #C0C0FF;
}

a:visited {
  color: #A0A0FF;
}

a:hover, a:focus, a:active {
  color: #F0A000;
}

legend {
  color: #FFF;
}

label {
  display: block;
}

fieldset label {
  display: inline;
}
fieldset select {
  margin: 0 1em 0 0.5em;
}