/* Basic styles */

body {
  background-color: #FFF;
  color: #2E2E33;
  font: small Verdana, Arial, sans-serif;
  padding: 0 10em;
}

a:link {
  color: #C0C0FF;
}

a:visited {
  color: #A0A0FF;
}

a:hover, a:focus, a:active {
  color: #F0A000;
}

span.sliderControl {
  display: block;
  height: 79px;
  position: relative;
}

span.sliderTrack {
  background: url(slider_scale.jpg);
  display: block;
  height: 72px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 430px;
}

span.sliderControl span.sliderThumb {
  background-image: url(slider_thumb.gif);
  cursor: w-resize;
  height: 35px;
  position: absolute;
  top: 0;
  width: 20px;
}

span.sliderControl input.slider {
  margin-left: 430px;
}